.DS_Store
.qodo
.idea
.vscode
.vscode/*
.vscode/
.vscode/
data-mailpit/
backend/media/documents/projects/*
backend/media/documents/general/*
backend/media/comments/*
backend/media/app_config/*
backend/media/factures/*
backend/media/contrats/*
backend/*/__pycache__/*
backend/*/__pycache__/
backend/*/*/__pycache__/*
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/*
frontend/node_modules/*
frontend/dist/*
frontend/build/*