.DS_Store
.qodo
.idea
.vscode
.vscode/*
.vscode/
.vscode/
data-mailpit/
backend/media/documents/projects/*
backend/media/documents/general/*
backend/media/comments/*
backend/media/app_config/*
backend/media/factures/*