<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impression du contrat</title>
    <style>
      body {
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.7;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Avenant {{ avenant.numero }} pour le contrat {{ avenant.contrat.numero
        }}
      </h1>
      <p>
        <strong>Intitulé de l'avenant :</strong> {{ avenant.intitule_avenant }}
      </p>
      <p><strong>Objet de l'avenant :</strong> {{ avenant.objet_avenant }}</p>
      <p>
        <strong>Type de modification :</strong> {{ avenant.type_modification }}
      </p>
      {% for modification in avenant.modifications %}
      <p><strong>{{ modification.clause }}</strong></p>
      <p><strong>Ancienne version :</strong></p>
      <p>{{ modification.ancienne_version|safe }}</p>
      <p><strong>Nouvelle version :</strong></p>
      <p>{{ modification.nouvelle_version|safe }}</p>
      <p><strong>Contenu personnalisé :</strong></p>
      <p>{{ modification.contenu_personnalise|safe }}</p>
      {% endfor %}

      <table
        style="
          width: 100%;
          margin: 30px 0;
          border-collapse: collapse;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <tr>
          <td style="width: 50%; padding: 20px; text-align: center">
            <strong
              style="
                font-weight: bold;
                color: #000000;
                font-family: Arial, Helvetica, sans-serif;
              "
              >Le Prestataire</strong
            ><br />
            (signature)
          </td>
          <td style="width: 50%; padding: 20px; text-align: center">
            <strong
              style="
                font-weight: bold;
                color: #000000;
                font-family: Arial, Helvetica, sans-serif;
              "
              >Le Client</strong
            ><br />
            (signature)
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
